@charset "UTF-8";

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #801B06, #CC2B0A);
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #00000069;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px #a16004d3;
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}